<configuration>
   <system.runtime.remoting>
      <application>
         <service>
            <wellknown 
               mode="Singleton" 
               type="BWAPI.bridgePINVOKEDynamic, monobridgeai-interop" 
               objectUri="bwapi.rem"
            />
         </service>
	<client>
        <wellknown type="BWAPI.AIProxy, monobridgeai-interop"         
                    url="tcp://localhost:8989/aiproxy.rem"/>
      </client>


         <channels>
            <channel ref="tcp" port="48989" name="bwapi"/>
         </channels>
      </application>
   </system.runtime.remoting>
</configuration>