<configuration>
   <system.runtime.remoting>
      <application>
         <service>
            <wellknown 
               mode="Singleton" 
               type="BWAPI.AIProxy, monobridgeai-interop" 
               objectUri="aiproxy.rem"
            />
         </service>
	<client>
        <wellknown type="BWAPI.bridgePINVOKEDynamic, monobridgeai-interop"         
                    url="tcp://localhost:48989/bwapi.rem"/>
      </client>


         <channels>
            <channel ref="tcp" port="8989" name="AIProxy"/>
         </channels>
      </application>
   </system.runtime.remoting>
</configuration>